<ion-header [translucent]="true">
  <ion-toolbar Color="primary">
    <ion-title>
    Input Presensi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
  
  <!-- Add a div with a background image -->
  <div class="background-image">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="ion-text-center ion-align-items-center ion-justify-content-center">
  <ion-button routerLink="/presensi-histori">Buka Halaman Presensi</ion-button>


   </div>
  </div>
</ion-content>
